@model IEnumerable<EvidenceHodinWebMVC.Models.Cinnost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
                {
                <a asp-action="Create">Create New</a>
                }
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>
            @if (User.IsInRole("Admin"))
                {
                <th>
                    @Html.DisplayNameFor(model => model.Aktivita)
                </th>
                }
                
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.Aktivita)
                    </th>
                }
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CinnostId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CinnostId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CinnostId">Delete</a>
                    </td>
                }
            
        </tr>
}
    </tbody>
</table>
