@model IEnumerable<EvidenceHodinWebMVC.Models.Zakaznik>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole("Admin"))
{
    <a asp-action="Create">Create New</a>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Zkratka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nazev)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Aktivita)
                </th>
            }
            
            <th>
                @Html.DisplayNameFor(model => model.Projekty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zkratka)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nazev)
            </td>
            @if (User.IsInRole("Admin"))
            {
                <td>
                @Html.DisplayFor(modelItem => item.Aktivita)
            </td>
            }
            
            <td>
                    @if (item.Projekty != null)
                    {
                        foreach (var projekt in item.Projekty)
                        {
                            @projekt.Nazev; 
                            <br>
                        }
                    }
            </td>
                
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ZakaznikId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ZakaznikId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ZakaznikId">Delete</a>
            </td>
                }
            
        </tr>
}
    </tbody>
</table>
