@model IEnumerable<EvidenceHodinWebMVC.Models.Prace>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Uzivatel.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Zakaznik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projekt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cinnost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.time)
            </th>
            
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Aktivita)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Uzivatel.FullName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zakaznik.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projekt.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinnost.Nazev)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.datum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.time)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Aktivita)
                    </td>
                }
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.PraceId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PraceId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PraceId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
